<div class="hero center">
      <h1 class="boom">Evolved Social Drinking</h1>
      <h2 class="badoom">Discover new favorites.</h2>
      <!-- Sign up / Sign in buttons if user not signed in -->
      <% if !user_signed_in? %>
    
          <%= link_to new_user_registration_path do%>
            <div class="cta-sign">Sign Up</div>
          <% end %>
      
      <% end %>

    </div>
