<div class="jumbotron center"> 
  <h2 class="boom">Drink recommendations based on your mood</h2>
  <% if user_signed_in? %>

  <% else %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
  <%= render "pins/index", pins: @pins %>
