.jumbotron {
  color: gray;
  background: #fff;

  h2 {
    color: #e67e22;
    margin-bottom: 40px;
    font-weight: 900;
  }
}

.navbar-brand {
  font-weight: 700;
}

.center {
  text-align: center;
}

th {
  margin-right: 40px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;

  img {
    width: 100%;
  }
}