.jumbotron {
  color: gray;
  background: #fff;

  h1 {
    color: #e67e22;
    margin-bottom: 40px;
    font-weight: 900;
  }
}

.navbar-brand {
  font-weight: 700;
}

.center {
  text-align: center;
}

.new_user input{
  
}

input[type="submit"] {
  border: none;
  background: orange;
  color: #fff;
}